.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .maskgroup {
    width: 1439px;
    height: 1016px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop1 {
    top: 0px;
    left: 0px;
    width: 1439px;
    height: 1016px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .rectangle12 {
    top: 553px;
    left: 28px;
    width: 1440px;
    height: 512px;
    position: absolute;
  }
  .rectangle1 {
    top: -10px;
    left: -24px;
    width: 1496px;
    height: 517px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  }
  .text {
    top: 59px;
    left: 50px;
    color: rgba(0, 0, 0, 1);
    width: 550px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text01 {
    font-weight: 700;
  }
  .rectangle2 {
    top: 197px;
    left: 720px;
    width: 267px;
    height: 71px;
    position: absolute;
  }
  .rectangle3 {
    top: 114px;
    left: 720px;
    width: 335px;
    height: 71px;
    position: absolute;
  }
  .rectangle4 {
    top: 197px;
    left: 995px;
    width: 396px;
    height: 71px;
    position: absolute;
    border-radius: 40px;
  }
  .rectangle5 {
    top: 280px;
    left: 720px;
    width: 671px;
    height: 71px;
    position: absolute;
  }
  .rectangle6 {
    top: 113px;
    left: 1064px;
    width: 327px;
    height: 71px;
    position: absolute;
    border-radius: 40px;
  }
  .rectangle7 {
    top: 712px;
    left: 28px;
    width: 221px;
    height: 221px;
    position: absolute;
  }
  .rectangle8 {
    top: 712px;
    left: 308px;
    width: 221px;
    height: 221px;
    position: absolute;
  }
  .rectangle10 {
    top: 712px;
    left: 877px;
    width: 221px;
    height: 221px;
    position: absolute;
  }
  .rectangle11 {
    top: 712px;
    left: 1154px;
    width: 221px;
    height: 221px;
    position: absolute;
    border-radius: 40px;
  }
  .text15 {
    top: 572px;
    left: 42px;
    color: rgba(0, 0, 0, 1);
    width: 533px;
    height: auto;
    position: absolute;
    font-size: 45px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text17 {
    top: 631px;
    left: 42px;
    color: rgba(0, 0, 0, 1);
    width: 515px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text18 {
    font-weight: 400;
  }
  .rectangle9 {
    top: 712px;
    left: 600px;
    width: 221px;
    height: 221px;
    position: absolute;
  }